excelConsoleApp/packages/Microsoft.Office.Interop.Excel.15.0.4795.1001/.signature.p7s
excelConsoleApp/packages/Microsoft.Office.Interop.Excel.15.0.4795.1001/Microsoft.Office.Interop.Excel.15.0.4795.1001.nupkg
excelConsoleApp/packages/Microsoft.Office.Interop.Excel.15.0.4795.1001/lib/net20/Microsoft.Office.Interop.Excel.dll
excelConsoleApp/packages/Microsoft.Office.Interop.Excel.15.0.4795.1001/lib/netstandard2.0/Microsoft.Office.Interop.Excel.dll
excelConsoleApp/.vs/excelConsoleApp/v16/.suo
excelConsoleApp/excelConsoleApp/bin/Debug/excelConsoleApp.exe
excelConsoleApp/excelConsoleApp/bin/Debug/excelConsoleApp.exe.config
excelConsoleApp/excelConsoleApp/bin/Debug/excelConsoleApp.pdb
excelConsoleApp/excelConsoleApp/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
excelConsoleApp/excelConsoleApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
excelConsoleApp/excelConsoleApp/obj/Debug/excelConsoleApp.csproj.AssemblyReference.cache
excelConsoleApp/excelConsoleApp/obj/Debug/excelConsoleApp.csproj.CoreCompileInputs.cache
excelConsoleApp/excelConsoleApp/obj/Debug/excelConsoleApp.csproj.FileListAbsolute.txt
excelConsoleApp/excelConsoleApp/obj/Debug/excelConsoleApp.exe
excelConsoleApp/excelConsoleApp/obj/Debug/excelConsoleApp.pdb
